<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @turf_detail.title %>
</p>

<p>
  <strong>Address:</strong>
  <%= @turf_detail.address %>
</p>

<%= link_to 'Edit', edit_turf_detail_path(@turf_detail) %> |
<%= link_to 'Back', turf_details_path %>
